#config
alias config='/usr/bin/git --git-dir=/home/minh/.cfg/ --work-tree=/home/minh'

# fasd

# basics
alias sudo="sudo -E"
alias rm="rm -i"

# programs
alias v="nvim"


#github
alias gac="git add -A && git commit -m"
alias gp='git push'

function gro {
  REPO=$1
  open https://github.com/$REPO
}

#tools
alias hfzf='history | fzf'

#python venv
alias ivenv='virtualenv -p python venv'
alias avenv='source venv/bin/activate'
alias rvenv='rm -rf venv'

#sqitch
function sqr {
  sqitch revert $1
}

function sqd {
  sqitch deploy $1
}

#python
alias python_clr='find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf'
function pip_install_git {
  REPO=$1
  VERSION=$2
  GIT_PKG='git+ssh://git@github.com/$REPO.git@$VERSION'
  pip install $GIT_PKG
}

#docker
function docker_ssh {
  docker exec -it $1 bash
}
alias docker_ls='docker container list'


# random
wo () {
  ENV=$1
  workon $ENV
}
