#config
alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# basics
alias sudo="sudo -E"
alias rm="rm -i"

# vim 
alias vim='nvim'
alias vrs='rm -f $HOME/.vim/tmp/*'


# git
alias gac="git add -A && git commit -m"
alias gp='git push'
alias rm_orig='find . -regex ".*.orig" -delete'

function gro {
  REPO=$1
  open https://github.com/$REPO
}

# history
alias hfzf='history | fzf'
alias efzf='history | fzf | awk '{$1=""}1' | sh -'

# pyenv
alias pea='pyenv activate'
alias pev='pyenv virtualenv'
alias ped='pyenv deactivate'

#python
alias python_clr='find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf'
function pip_install_git {
  REPO=$1
  VERSION=$2
  GIT_PKG='git+ssh://git@github.com/$REPO.git@$VERSION'
  pip install $GIT_PKG
}

function pyfmt {
    PYTHON_FILE=$1
    python -m black $PYTHON_FILE && \
    python -m flake8 $PYTHON_FILE
}

wo () {
  ENV=$1
  workon $ENV
}

alias clip='xclip -sel clip'
alias tb='tensorboard --logdir .'
alias pwdc="pwd | xclip -sel clip"

alias d='docker'
alias dcls='docker container ls'

wgpu='watch nvidia-smi'

alias python=python3

# sbt
alias sbtc='sbt console -nc'

# terraform
alias tf='terraform'


