#config
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# basics
alias sudo="sudo -E"
alias rm="rm -i"

# vim 
#alias nvim='~/Applications/nvim-osx64/bin/nvim'
alias vrs='rm -f $HOME/.vim/tmp/*'


# git
alias gac="git add -A && git commit -m"
alias gp='git push'

function gro {
  REPO=$1
  open https://github.com/$REPO
}

# history
alias hfzf='history | fzf'

#python
alias python_clr='find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf'
function pip_install_git {
  REPO=$1
  VERSION=$2
  GIT_PKG='git+ssh://git@github.com/$REPO.git@$VERSION'
  pip install $GIT_PKG
}

wo () {
  ENV=$1
  workon $ENV
}

alias clip='xclip -sel clip'
alias tb='tensorboard --logdir .'
alias pwdc="pwd | xclip -sel clip"

alias d='docker'
alias dcls='docker container ls'

wgpu='watch nvidia-smi'

alias python=python3

# sbt
alias sbtc='sbt console -nc'
