# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Minh Le
    email = minh@parafin.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[merge]
	tool = nvimdiff
[core]
	excludesfile = /Users/minh/.gitignore_global
